.compWrap {
  width: 300px;
  height: 100px;
  position: relative;
  border: 1px solid #ccc;
}
.compWrap h2 {
  position: absolute;
  left: 35%;
  top: 35%;
  margin: 0;
}

/* MyTransition's style */
.exit-active {
  transition: 0.8s;
  transform: translateX(-100px);
  opacity: 0;
}
.exit-done {
  display: none;
}
.appear,
.enter {
  display: block;
  transform: translateX(100px);
  opacity: 0;
}
.appear-active,
.enter-active {
  transition: .8s;
  transform: translateX(0);
  opacity: 1;
}
