.container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.container .header { 
  height: 60px;
  background: #333;
  color: #fff;
}
.container .main{
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
}
.container .main .aside{
  width: 200px;
  height: 100%;
  background: #008c8c;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
}
.container .main .content{
  padding: 20px;
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
}
