.header-box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-box .right {
  display: flex;
}
.header-box .right .right-item {
  margin-left: 10px;
  cursor: pointer;
}
